homework3/WhatsTheAirportCA/src/jbiServiceUnits/WhatsTheAirport/www.webservicex.net/country.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.webserviceX.NET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetCountryByCountryCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCountryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryByCountryCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetISDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountries">
        <s:complexType />
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyCodeByCurrencyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetISOCountryCodeByCountyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCode">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryByCurrencyCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencies">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrenciesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyByCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGMTbyCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCountryByCountryCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryByCountryCode" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryByCountryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetISDSoapIn">
    <wsdl:part name="parameters" element="tns:GetISD" />
  </wsdl:message>
  <wsdl:message name="GetISDSoapOut">
    <wsdl:part name="parameters" element="tns:GetISDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeByCurrencyName" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeByCurrencyNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetISOCountryCodeByCountyName" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetISOCountryCodeByCountyNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyCode" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryByCurrencyCode" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryByCurrencyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencies" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyByCountry" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetGMTbyCountry" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetGMTbyCountryResponse" />
  </wsdl:message>
  <wsdl:portType name="countrySoap">
    <wsdl:operation name="GetCountryByCountryCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country name by country code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCountryCodeSoapIn" />
      <wsdl:output message="tns:GetCountryByCountryCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get International Dialing Code by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISDSoapIn" />
      <wsdl:output message="tns:GetISDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all countries with ISO code</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesSoapIn" />
      <wsdl:output message="tns:GetCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by currency name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeByCurrencyNameSoapIn" />
      <wsdl:output message="tns:GetCurrencyCodeByCurrencyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get countries by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISOCountryCodeByCountyNameSoapIn" />
      <wsdl:output message="tns:GetISOCountryCodeByCountyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currencycode for each country </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeSoapIn" />
      <wsdl:output message="tns:GetCurrencyCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country by currency code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCurrencyCodeSoapIn" />
      <wsdl:output message="tns:GetCountryByCurrencyCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currency,currency code for all countries </wsdl:documentation>
      <wsdl:input message="tns:GetCurrenciesSoapIn" />
      <wsdl:output message="tns:GetCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by country name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyByCountrySoapIn" />
      <wsdl:output message="tns:GetCurrencyByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get greenwich mean time(GMT) by country name </wsdl:documentation>
      <wsdl:input message="tns:GetGMTbyCountrySoapIn" />
      <wsdl:output message="tns:GetGMTbyCountrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="countrySoap" type="tns:countrySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountryByCountryCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCountryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCodeByCurrencyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISOCountryCodeByCountyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetGMTbyCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="countrySoap12" type="tns:countrySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountryByCountryCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountryByCountryCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetISD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyCodeByCurrencyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetISOCountryCodeByCountyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountryByCurrencyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetGMTbyCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="country">
    <wsdl:port name="countrySoap" binding="tns:countrySoap">
      <soap:address location="http://www.webservicex.net/country.asmx" />
    </wsdl:port>
    <wsdl:port name="countrySoap12" binding="tns:countrySoap12">
      <soap12:address location="http://www.webservicex.net/country.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>